/* You can add global styles to this file, and also import other style files */
@import "primeicons/primeicons.css";

* {
  font-family: 'Times New Roman', Times, serif
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
