::ng-deep .ngneat-dialog-content {
  width: max-content !important;
}

main {
  padding: 1rem;
}

.form-group {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 1rem;

  .p-floatlabel {
    width: 100%;
  }
}

.buttons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  justify-items: center;
  margin-top: 1rem;
}

.hidden {
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  opacity: 0;
  pointer-events: none;
}
