.header-table {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;

  .p-button {
    margin-left: auto;
  }
}

.hidden {
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  opacity: 0;
  pointer-events: none;
}
